<div class="md-body-2" ng-controller="MonsterCtrl" >

    <!--<div class="waves-effect waves-teal" ng-click="currentMonster.setMonster(monster);" ui-sref="details" ng-repeat="monster in monsters | filter:search" flex>
        {{monster.name}}
    </div>-->
    <div class="row">
        <div class="header">
            <div class="table">
                <div class="cell">Look up your monster:<input type="text" ng-model="search" class="inline"></div>
            </div>
        </div>
        <div class="monsterContainer table box" ng-click="currentMonster.setMonster(monster);" ui-sref="details" ng-repeat="monster in monsters | filter:search">
            <div class="cell">
                <img ng-src="/bilder/{{monster.name+'.jpg'}}" alt=""/>
                {{monster.name}}
            </div>
        </div>
    </div>
</div>


<!--
<table class="table" ng-controller="MonsterCtrl">
    <div   ui-sref="details" ng-repeat="monster in monsters | filter:search">
        <td>{{monster.id}}</td>
        <td>{{monster.name}}</td>
        <td>{{monster.level}}</td>
        <td>{{monster.b_hp}}</td>
        <td>{{monster.b_atk}}</td>
        <td>{{monster.b_def}}</td>
        <td>{{monster.b_spd}}</td>
        <td>{{monster.b_crate}}</td>
        <td>{{monster.b_cdmg}}</td>
        <td>{{monster.b_red}}</td>
        <td>{{monster.b_acc}}</td>
    </div>
</table>-->
